<!-- <h2 class="spec-reminder-title">
  {{model.title}}
</h2>
<p>{{model.date}}</p>
<p class="spec-reminder-notes">
  {{model.notes}}
</p> -->

<div  class='spec-submit-new-btn'>
  <button {{action 'saveReminder' preventDefault=false }}>Save</button>
</div>
