<form {{
  action 'saveReminder'
  on='submit'
}}>
  <label>
    Title:
    </label>
    <input
    class='spec-title-input'
    type='text'
    value={{model.title}} />

  <label>
    Date:
  </label>
    <input
    class='spec-date-input'
    type='date'
    value={{model.date}} />
  <label>
    Notes:
  </label>
    <textarea
    class='spec-note-input'
    type='text'
    value={{model.notes}} />
  {{#link-to 'reminders.reminder' model.id}}
    <button>Save</button>
  {{/link-to}}
</form>
