<!-- <h2 class="spec-reminder-title">
  {{model.title}}
</h2>
<p>{{model.date}}</p>
<p class="spec-reminder-notes">
  {{model.notes}}
</p> -->

<div {{action 'saveReminder' preventDefault=false}} class='spec-submit-new-btn'>
  <button>Save</button>
</div>
