<form {{
  action 'newReminder'
  on='submit'
}}>
  <label>Title:</label>
    {{
      input
      type='text'
      value=title
    }}
  <label>
    Date:
  </label>
    {{
      input
      type='date'
      value=date
    }}
  <label>
    Notes: {{
      textarea
      type='text'
      value=notes
    }}
    <button>Submit</button>
  </label>
</form>
