<form {{
  action 'addReminder'
  on='submit'
}}>
  <label>
    Title: {{input
      type='text'
      value=title
    }}
  </label>
  <label>
    Date: {{
      input
      type='date'
      value=date
    }}
  </label>
  <label>
    Notes: {{
      textarea
      type='text'
      value=notes
    }}
    <button>Submit</button>
  </label>
</form>
