<form {{
  action 'newReminder'
  on='submit'
}}>
  <label>
    Title: {{
      input
      class='spec-title-input'
      type='text'
      value=title
    }}
  </label>
  <label>
    Date: {{
      input
      class='spec-date-input'
      type='date'
      value=date
    }}
  </label>
  <label>
    Notes: {{
      textarea
      class='spec-note-input'
      type='text'
      value=notes
    }}
    <button class='spec-submit-new-btn'>Submit</button>
  </label>
</form>
