<div class="item {{if isActive "active"}}">
  {{#link-to "reminders.reminder" reminder.id }}
    <a {{action "toggleDisplay"}}  class="spec-reminder-item">
      <h2 class="spec-reminder-title">
        {{reminder.title}}
      </h2>
    </a>
  {{/link-to}}
 </div>
