<div>
  {{#link-to "reminders.reminder" reminder }}
    <h2 class="spec-reminder-title">{{reminder.title}}</h2>
    <p>{{reminder.date}}</p>
    <pclass="spec-reminder-notes">{{reminder.notes}}</p>
    <p>{{reminder.pinned}}</p>
  {{/link-to}}
</div>
