<h1>Hello</h1>
<!-- <h2 class="spec-reminder-title">
  {{model.title titleChange=(mut title)}}
</h2>
<p>{{model.date}}</p>
<p class="spec-reminder-notes">
  {{model.notes}}
</p> -->

{{edit-reminder model=model}}
