<div class="spec-reminder-item">
    <h2 class="spec-reminder-title">
      {{model.title}}
    </h2>
    <p>{{model.date}}</p>
    <p class="spec-reminder-notes">
      {{model.notes}}
    </p>
    {{#link-to "reminders.edit"}}
      <button {{action "editReminder"}} class="edit-button">Edit</button>
    {{/link-to}}
</div>
